.subbrand{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image {
    width: 405px;
    height: 354px;
    object-fit: cover;
    filter: drop-shadow(10px 10px 15px rgba(0,0,0,.6));
}

.image_small {
    width: 276px;
    height: auto;
    filter: none;
}