.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.block_title {
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #E42527;
}

.block_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 27px;
    justify-content: flex-start;
    width: 100%;
    
}

.block_item {
    cursor: pointer;
    display: block;
    width: 216px;
    padding: 10px;
    height: 153px;
    background-color: #fff;
    border-radius: 17px;
}

.block_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

