.main {
    width: 1080px;
    height: 1920px;
    background-color: blueviolet;
    position: relative;
    overflow: hidden;
}

.line {
    position: absolute;
    left: -150px;
    bottom: 50px;
    z-index: 100;
    width: 1620px;
}