.main {
  font-family: 'Montserrat';
  width: 100%;
  height: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #FFFAF0;
  overflow: hidden;
}

.content {
  width: 1080px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.popup__frame {
    width: 100%;
    height: 100%;
    border: none;
}

.video {
  margin: auto;
  width: 100%;
  height: 900px;
}