.slider_container {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #0000A0;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat';
    color: #fff;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper_slide {
    display: flex;
    flex-direction: column;
}

.slide_info {
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 75px 75px 75px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    color: #00009C;
    box-sizing: border-box;
    background-color: #FFF9EF;
}

.slide_text {
    z-index: 100;
    position: relative;
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
}

.slide_text::before {
    bottom: -60px;
    content: '“';
    font-size: 100px;
}

.slide_text::after {
    position: absolute;
    bottom: -60px;
    content: '”';
    font-size: 100px;
}

.personal {
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 750px;
    font-weight: 600;
}

.slide_title {
    font-size: 30px;
    font-weight: normal;
    line-height: 38px;
    z-index: 100;
    color: #00009C;
}

.image_container img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(-155px);
}

.mask {
    z-index: 1;
    position: absolute;
    left: 0;
    top: -150px;
    fill: #FFF9EF;
    width: 1080px;
}

.icon {
    position: absolute;
    bottom: 55px;
    right: 55px;
    width: 90px;
    fill: #00009C;
    z-index: 1000;
}

.icon path {
    fill: #fff;
}

.arrow_left {
    animation: left 3s linear infinite;
}
@keyframes left {
    50% {
        transform: translateX(-5px);
    }
}

.arrow_right {
    animation: right 3s linear infinite;
}

@keyframes right {
    50% {
        transform: translateX(5px);
    }
}

.next {
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 1920px;
    background-color: #fff;
}

.prev {
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 1920px;
    background-color: #fff;
}