.main {
    margin: auto;
    width: 1080px;
    height: 1920px;
    position: relative;
    background-image: url('https://5025e9a0-572b-4a1f-ac39-9ca98b5282d1.selstorage.ru/bg-whiskas.webp');
    background-size: cover;
    overflow: hidden;
    color: #fff;
    font-family: 'Whiskas';
}

.content {
    width: 100%;
    padding: 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.logo {
    width: 500px;
    height: auto;
}

.text {
    width: 950px;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    font-weight: normal;
}

.text_bottom {
    width: 900px;
}

.subtitle {
    width: 600px;
    font-size: 30px;
    text-align: center;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-items: stretch;
}

.info__block {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 180px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    color: #A2259B;
}

.info__block h3 {
    padding: 0;
    font-family: 'Whiskas';
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

.info__block p {
    font-family: 'Whiskas';
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.title {
    padding-top: 200px;
    align-self: flex-start;
    fill: #fff;
    width: 435px;
    animation: title ease-in-out 2s;
}

@keyframes title {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}